.signup-layout {
  min-height: 100vh;
  background-color: #EEF5FF;
}

.signup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.signup-card {
  width: 100%;
  max-width: 1100px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-steps {
  margin-bottom: 24px;
}

.error-alert {
  margin-bottom: 24px;
}

.signup-form {
  margin-top: 24px;
}

.steps-action {
  margin-top: 24px;
  text-align: right;
}

.ant-btn-primary {
  background-color: #333c87;
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: #333c87;
  border-color: #333c87;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #333c87;
}

.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: #333c87;
}

.step-skip {
  padding: 20px;
  text-align: center;
}

.step-skip .ant-alert {
  max-width: 400px;
  margin: 0 auto;
}


.ant-form-item-label {
  font-weight: 500;
}

.ant-input[type="time"] {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
}

.ant-form-item-explain-error {
  font-size: 12px;
  margin-top: 4px;
}

.ant-select-selection-placeholder {
  color: rgba(0, 0, 0, 0.45);
}