.message-container {
  padding: 5px;
  margin: 3px 0;
  max-width: 80%;
}

.current-user {
  align-self: flex-end;
  margin-left: auto;
}

.other-user {
  align-self: flex-start;
  margin-right: auto;
}

.message-bubble {
  padding: 12px;
  border-radius: 20px;
  min-width: 80px;
}

.current-user-bubble {
  background-color: #0084ff;
  border-bottom-right-radius: 4px;
}

.other-user-bubble {
  background-color: #E8E8E8;
  border-bottom-left-radius: 4px;
}

.message-text {
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 20px;
}

.current-user-text {
  color: #FFFFFF;
}

.other-user-text {
  color: #000000;
}